/*

box shadow generators:
https://www.cssmatic.com/box-shadow
https://css3gen.com/box-shadow/

how-to build a navigation bar:
https://www.w3schools.com/css/css_navbar.asp

*/

/*

All done! You have a working site now!
You can change the index.html, contact.html and about.html if you want.

Note that you are using the same index.css for all 3 files.
That is good: if you want to change the header style of all the pages you just
have to change the .header definition in the index.css

*/

@font-face {
  font-family: 'druk';
  src:  url('fonts/Mango-Regular.otf');
}


* {
  margin:0;
  box-sizing: border-box;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
  text-decoration-color: none;
}

a:hover {
  text-decoration: underline;
}

body {
  width: 100%;
  font-family: 'druk';
  background-color: #000; 
}

.wrapper {
  width: 100%;
}

.wrapper::after {
  content: "";
  /*background-image: url(images/czadzikczarny.jpg);*/
  background-size: 100%;
  opacity: 0.0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.container {
  margin: auto;
  width: 100%;
  padding: 0 1em 0 1em;
  padding-top: calc(1.5em + 3em + 2 * 1.5 * 30px);
  max-width: 900px;
  /*position: relative;*/

  color: #000;
  background-color: #fff;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu li  {

  color: white;
  font-size: 24px;
  display: inline-block;
}

.chapter {
  margin-bottom: 2em;
}

a.chapter-anchor {
    display: block;
    position: relative;
    top: -150px;
    /*visibility: hidden;*/
}

.chapter-anchor h2  {
  position: relative;
  top: 150px;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5em 2em 0em 2em;
  /*opacity: 0.5;*/
  margin: auto;
  max-width: 900px;
  text-align: center;
  color: #fff;
  background-color: black;
  z-index: 9999;
}

.big-title {
  font-size: 36px;
  /*line-height: 10px;*/
}

h1 {
  /*background-color: #F84D23;*/
  /*box-shadow: 0 20px 200px 0 #1F8C09;*/
  font-family: 'druk';
  letter-spacing: 1.5px;
/*    top: 20px;
  left: 270px;*/
  font-size: 25px;
}

h2 {
  font-size: 42px;
  margin-bottom: 1.5em;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
}

img {
  /*border-radius: 50px;*/
  width: 600px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

 .content p {
  font-size: 20px;
  margin-bottom: 1em;
  text-indent: 2em;

}

.content p:first-of-type {
  text-indent: 0;
}


.chapter7 p  {
  text-indent: 0;
}



/* Media Queries for different size screens*/
@media screen and (max-width: 900px) {
 .container {
    padding-top: calc(1.5em + 3em + 3 * 1.5 * 36px);
 }
}

@media screen and (max-width: 600px) {
 .container {
    padding-top: calc(1.5em + 3em + 3 * 1.5 * 36px);
 }
}

@media screen and (max-width: 500px) {
 .container {
    padding-top: calc(1.5em + 3em + 4 * 1.5 * 36px);
 }
}

.invisible {
  display:none;
}

.intro {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  
  text-align: center;
  color: #fff;
}

.intro h3 {
  font-size: 50px;

}
